body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

/* =====================
   HEADING
===================== */
h2 {
  color: #00a2c6;
  margin-top: 0;
}

h3 {
  color: #00a2c6;
  margin-top: 20px;
}

/* =====================
   HEADER / HERO
===================== */
.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #00c8eb;
  text-align: center;
  color: white;
}

/* =====================
   NAVBAR
===================== */
nav {
  background-color: #00a2c6;
  padding: 5px 20px;

  position: sticky;
  top: 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

nav a:hover {
  font-weight: bold;
}

/* =====================
   MAIN CONTENT
===================== */
main {
  padding: 20px;
  overflow: auto;
}

/* CARD */
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

/* PROFILE */
.profile {
  text-align: center;
}

.profile img {
  width: 200px;
}

/* IMAGE */
.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

/* =====================
   FOOTER
===================== */
footer {
  padding: 20px;
  color: white;
  background-color: #00a2c6;
  text-align: center;
}

#content {
  float: left;
  width: 75%;
}

aside {
  float: right;
  width: 25%;
  padding-left: 20px;
}

@media screen and (max-width: 1000px) {
  #content,
  aside {
    width: 100%;
    padding: 0;
    float: none;
  }
}

header{
  display: inline;
}

/* kontol */